body {
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: bgimage 40s infinite;
}

@keyframes bgimage {
  0% {
    background-image: url("../images/6.jpg");
  }
  20% {
    background-image: url("../images/1.jpg");
  }
  40% {
    background-image: url("../images/2.jpg");
  }
  60% {
    background-image: url("../images/3.jpg");
  }
  80% {
    background-image: url("../images/4.jpg");
  }
  100% {
    background-image: url("../images/5.jpg");
  }
}
